body{
 background-color: #F0F8FF;
}
.flex-parent{
 display: flex;
 flex-direction: row;
 justify-content: center;
 border-radius: 20px;
}
.profile{
 width: 30%;
 height: auto;
 background: #F0F8FF;
 margin: 2%;
 padding: 1%;
 border: 1px solid #008B8B;
  border-radius: 20px;
 }
.content{
 width: 70%;
 height: auto;
 background: #F0F8FF;
 margin: 2%;
 padding: 1%;
 border: 1px solid #008B8B;
  border-radius: 20px;
}
img{
 padding-top: 2px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 150px;
 height: 150px;
 vertical-align: middle;
  border-radius: 20px;
}
h2,h3{
 color: #333;
 text-align: center;
}
a{
 text-decoration: none;
 color: #000;
 background-color: #F0F8FF;

}
a:hover{
 background-color: #F0F8FF;
 color: #72A2FF;
 }
 table {
   width:95%;

 }
 td{
   padding:1%;
    }
  tr{
    color: #008B8B;
    background: #F0F8FF;
    }
@media only screen and (min-width:0px) and (max-width:480px) {
 body{
   background-color: #F0F8FF;
 }
 .flex-parent{
   display: flex;
   flex-direction: column;
   justify-content: center;
    border-radius: 20px;
 }
 .profile{
   width: 100%;
   height: auto;
   background: #F0F8FF;
   margin: 1%;
   padding: 0%;
   border: 2px solid #008B8B;
    border-radius: 20px;
    }
 .content{
   width: 100%;
   height: auto;
   background: #F0F8FF;
   margin: 1%;
   padding: 0%;
   border: 2px solid #008B8B;
    border-radius: 20px;
    }
 a{
   text-decoration: none;
   color: #000;
   background-color: #F0F8FF;

 }
 a:hover{
   background-color: #F0F8FF;
   color: #008B8B;
    }
}
@media only screen and (min-width:480px) and (max-width:720px) {
 .flex-parent{
   display: flex;
   flex-direction: row;
   justify-content: center;
    border-radius: 20px;
 }
 body{
   background-color: #F0F8FF;
 }
 .profile{
   width: 100%;
   height: auto;
   background: #F0F8FF;
   margin: 1%;
   padding: 0%;
   border: 2px solid #008B8B;
    border-radius: 20px;
    }
 .content{
   width: 100%;
   height: auto;
   background: #F0F8FF;
   margin: 1%;
   padding: 0%;
   border: 2px solid #008B8B;
    border-radius: 20px;
    }
 a{
   text-decoration: none;
   color: #000;
   background-color: #F0F8FF;

 }
 a:hover{background-color: #F0F8FF;
 color: #008B8B;
  }
